<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressBookMapper">

    <update id="update">
        update address_book
        <set>
            <if test="userId">user_id = #{userId},</if>
            <if test="consignee">consignee = #{consignee},</if>
            <if test="sex">sex = #{sex},</if>
            <if test="phone">phone = #{phone},</if>
            <if test="provinceCode">province_code = #{provinceCode},</if>
            <if test="provinceName">province_name = #{provinceName},</if>
            <if test="cityCode">city_code = #{cityCode},</if>
            <if test="cityName">city_name = #{cityName},</if>
            <if test="districtCode">district_code = #{districtCode},</if>
            <if test="districtName">district_name = #{districtName},</if>
            <if test="detail">detail = #{detail},</if>
            <if test="label">label = #{label},</if>
            <if test="isDefault">is_default = #{isDefault},</if>
        </set>
        where id =#{id}
    </update>
</mapper>